#left-sidebar{
  border-right: 1px solid #e6e6e6;
  height: calc(100vh - 91px);
  width: 230px;
  min-width: 230px;
  display: grid;
  grid-template-rows: 1fr;
}
#fileTreeWrap{
  height: 100%;

  .fileTreeNodeSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
  }

  p{
    cursor: pointer;
    color: #808080;
    font-size: 16px;
  }
}


#left-sidebar-buttons{
  height: 30px;
  min-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  display: flex;



}

.left-sidebar-item{
  height: 50px;
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 5px 5px;
  margin: 0 5px;
  /*border-bottom: 1px solid #e6e6e6;*/
  cursor: pointer;

  > img{
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  > p {
    font-size: 12px;
    margin-left: 5px;
    word-break: break-word;
  }
}

#left-sidebar-item-wrapper{
  width: 100%;
  overflow: scroll;
  padding: 5px 0;
}

.selected-item{
  background-color: #6F90F8;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

@media (max-width: 480px) {
  #left-sidebar{
    display: none;
  }
}